---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import TicketsSection from "@/components/home/TicketsSection.astro";

import WorkshopsSection from "@/components/home/WorkshopsSection.astro";
import SponsorsSection from "@/components/home/SponsorsSection.astro";
import UpdatesSection from "@/components/home/UpdatesSection.astro";
---

<Layout title="ATmosphereConf 2026">
  <div class="space-y-10">
    <Hero />
    <div id="schedule">
      <!-- Fallback for older name -->
      <span id="talks"></span>
      <WorkshopsSection />
    </div>
    <TicketsSection />
    <UpdatesSection />
    <!-- <ScheduleSection /> -->
    <SponsorsSection />
  </div>
</Layout>
