---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import TicketsSection from "@/components/home/TicketsSection.astro";

import RemoteIntro from "@/components/home/RemoteIntro.astro";
import WorkshopsSection from "@/components/home/WorkshopsSection.astro";
import SponsorsSection from "@/components/home/SponsorsSection.astro";
---

<Layout title="ATmosphereConf 2026 – Remote" page="remote">
  <div class="space-y-10">
    <Hero />
    <div id="remote-intro"><RemoteIntro /></div>
    <TicketsSection mode="remote" />
    <WorkshopsSection mode="remote" />
    <SponsorsSection />
  </div>
</Layout>
