---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/home/Hero.astro";
import TicketsSection from "@/components/home/TicketsSection.astro";

import RemoteIntro from "@/components/home/RemoteIntro.astro";
import ScheduleSection from "@/components/home/ScheduleSection.astro";
import SponsorsSection from "@/components/home/SponsorsSection.astro";
import StarringSection from "@/components/home/StarringSection.astro";
---

<Layout title="ATmosphereConf 2026 – Remote">
  <div class="space-y-10">
    <Hero />
    <div id="remote-intro"><RemoteIntro /></div>
    <TicketsSection mode="remote" />
    <StarringSection />
    <!-- <ScheduleSection /> -->
    <SponsorsSection />
  </div>
</Layout>
