---
import Card from "@/components/ui/card.astro";
---

<section>
  <Card title="Remote Overview" class="prose-links">
    <p class="pt-2">
      Our two main conference days on Saturday, March 28th, and Sunday, March
      29th, will be streaming live video and chat across three tracks. Powered
      by <a href="https://stream.place">Streamplace</a>, you'll be able to pick
      your favourite stream and watch and chat live.
    </p>
    <p class="pt-2">
      <a href="https://atscience.leaflet.pub/3mfz526irfs2y">ATScience</a>, all
      day Friday, March 27th, will also be streaming their talks.
    </p>
    <p class="pt-2">
      Remote and in-person attendees are all invited to share more about
      themselves and their projects in our <a
        href="https://roomy.space/atmosphereconf.org"
        >Roomy-powered discussion space</a
      >. See the <a href="https://erlend.leaflet.pub/3mhgow4qrqk2m"
        >Roomy mini tutorial</a
      > for more info, otherwise dive in and introduce yourself!
    </p>
    <p class="pt-2">
      Our suggested pricing on remote tickets is $10USD, with optional add on of
      a "We Can Just Do Things" Goodstuff T-Shirt. No one will be turned away
      for lack of funds - you can set the price to $0. We ask that you do
      register and accept the Code of Conduct for our online spaces, as well as
      being listed as a remote attendee.<br />
      <br /><a href="/remote#get-your-tickets">Register remote tickets below</a
      >.
    </p>
  </Card>
  <Card title="Stream 1">
    <!-- swap with Stream 1 https://stream.place/embed/stream1.atmosphereconf.org -->
    <iframe
      src="https://stream.place/embed/iame.li"
      width="640"
      height="360"
      frameborder="0"
      allowfullscreen></iframe>
  </Card>
  <Card title="Stream 2">
    <iframe
      src="https://stream.place/embed/stream2.atmosphereconf.org"
      width="640"
      height="360"
      frameborder="0"
      allowfullscreen></iframe>
  </Card>
  <Card title="Stream 3">
    <iframe
      src="https://stream.place/embed/stream2.atmosphereconf.org"
      width="640"
      height="360"
      frameborder="0"
      allowfullscreen></iframe>
  </Card>
</section>
