---
import TitoWidget from "@/components/shared/TitoWidget.astro";
---

<div class="tito-widgets">
  <TitoWidget type="live" class:list="group-[.remote]:hidden" />
  <TitoWidget type="remote" class:list="group-[.live]:hidden" />
</div>
<a href="https://ti.to/atmosphereconf/2026" class="ngerakines-buy-btn" style="display: none;" target="_blank" rel="noopener">
  BUY TICKETS NOW!!!
</a>
